.current{
    background-color: rgb(156, 150, 144);
    color:black;
    width:80vw;
    margin:5vh;

}
.currentBody{
    margin:3vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} 